<!DOCTYPE html>
<html>
  <head>
    <title>EqmMngTest2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "備品データ一覧", equipments_path %>
      <%= link_to "貸出状況", lendings_path %>
      現在のアカウント:
      <%= current_user.user_name %>
      <%= current_user.last_name %>
      <%= current_user.first_name %>
      <% if current_user.admin? %>
        /追加・編集・削除権限有り(OA係)
        <%= link_to "操作履歴", operationhistories_index_path %>
      <% else %>
        /権限無し
      <% end %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
